@font-face {
    font-family: MyFont;
    src: url('../fonts/Café Françoise.otf');
}


/*all pages*/
body{
    margin-top: 50px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-family: Berlin Sans FB ;

} 

.logo{
	width: 100%;
}

h2{
    color: white;  
}

.navbar{
    opacity: 0.8;
    font-size: 20px;
}

.navbar-brand{
    padding: 0;
   
}

.navbar {
    width: 100%;
    margin: 0 auto;
}


.footer-content{
    width: 80%;
    height: 140px;
    padding-top: 30px;
    text-align: center;
     background: rgba(0,0,0,0.7);
     margin: 0 auto;
     color: white;
     bottom: 0;


}   
.footer-content p{
   font-size: 1.5em;

}   



/*home page*/
.intro {
    width: 80%;
    margin: 0 auto;
    color: white;
}

.intro  h2 {
    
    text-align: center;
    font-family: MyFont;
}

.intro  h3 {
    
    text-align: left
}

.intro  p {
   
    text-align: justify;
    margin-bottom: 30px;
    font-size: 17px;
}

.intro  li {
    color: white;
    font-size: 17px;
}



.home{   
    width: 70%;   
    margin: 0 auto;    
}

.home figure{
   text-align: center;
}

.backrond-selection {
    background: rgba(0,0,0,0.4);
}

.home h2{
 color: white;
 text-align: center;
 font-family: MyFont;    
}

.home-panel img{
    width: 80%;
    margin-top: 18px; 
}

.home-col{
    margin-bottom: 50px;
    padding-right: 15px;
}

.home-panel{
    background: rgba(0,0,0,0.8);
}

.banner{
    width: 100%;
    margin-bottom: 50px;
    margin:0 auto;
    opacity: 0.8;
}

.content {
     background: rgba(0,0,0,0.5);
     width: 80%;
     margin: 0 auto;
}

.btn-home{
    margin-bottom: 50px;    
}

/*menu page*/

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}

.menu{
    
    width: 75%;
    margin-bottom: 50px;
    margin: 0 auto;
    position: relative;
}

.menu-panel img{
    width: 80%;
    margin-left:20px;
    margin-right:20px;
}

.panel-body  figcaption{
    text-align: justify;
    color: white;
}

.panel-body h4,h3{
    font-weight: bold;
    text-align: center;
    color: white;
    

}

.panel-body h3{
    font-size: 1.5vw;

}

.panel-body span {
   float: right;
   color: white;

}

.menu-col{
    margin-bottom: 45px;
    padding-right: 0px;

}

.menu-panel{
    background: rgba(0,0,0,0.8);
}


.HSshowit {
    position: absolute;
    bottom: 6.5px;
    right: 16px;
    
}

.background-drinks{
    margin-top: 50px;
    background-image: url("../images/coffee.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.background-drinks h1{
    padding-top: 25px;  
    margin-left: 5%;
    color: white;
    font-family: MyFont;
}

.background-waffle{
    background-image: url("../images/waffle.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.background-sandwich{
    background-image: url("../images/sandwich.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.carousel-inner .item img {
    margin: 0 auto;
}

.modal-body .carousel-caption {
    background: rgba(0,0,0,0.3);
    width: 88%;
    margin: 0;  
    left:6%;
    bottom: 0;
}
.modal-content {
	background: rgba(240,240,240,0.9);
}

/*Contact Page*/

.contact-content{
    width: 60%;
    background: rgba(0,0,0,0.7);
    margin-top: 70px;
    text-align: center;
    border-radius: 10px;
}

.contact-content p{
    color: white;
}

.contact-content h1{
    color: white;
    font-family: MyFont;
}

.contact-content form{
   width: 80%;   
   margin: 0 auto;   
}


.contact-content input{
    margin-bottom:20px;
    width: 100%;
    height: 40px;    
    font-size: 1.5em;
    border-radius: 10px;
}

.contact-content textarea{
    font-size: 1.5em;
    width: 100%;   
    border-radius: 10px;
}

.contact-content button{
    font-size: 2vw;
    width: 30%;
    margin-bottom: 50px;    
}

/*About US PAge*/

.about-content{
    width: 80%;
    background: rgba(0,0,0,0.7);
    padding: 50px 0;
    
}

.row-about h3{
   font-size: 2vw;
}

.row-about h1{
   color: white;
   font-family: MyFont;
}

.row-about p{
   color: white;
   text-align: justify;
   
}

.about-content .row{
    margin: 0 auto;
    width: 80%;
    background: rgba(0,0,0,0.4);
}

.coffee-img{
    background-image: url(../images/coffee.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0px;
    height: 500px;
}

.waffle-img{
    background-image: url(../images/waffle.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0px;
    height: 500px;
    

}


.sandwich-img{
    background-image: url(../images/sandwich.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 0px;
    height: 500px;
    

}
/*Resposive about us and form in contact*/
@media screen and (max-width: 992px){

.row-about h3{
   font-size: 5vw;

}
.row h3{
   font-size: 5vw;
}

.coffee-img, .waffle-img, .sandwich-img {
    height: 200px;
}

.contact-content input{
    height: 20px;    
    font-size: 1em;
}

.contact-content textarea{
    font-size: 1em;
 }

.contact-content button{
    font-size: 1.5vw;
    width: 20%;      
}

}

